*{
    margin: 0px;
    padding: 0px;
}

.startPage{
    align-items: center;
}

.aboutPage{
    align-items: center;
}

.hello{
    font-family: 'EB Garamond', serif;
    font-size: 4vw;
    color: #fffdfa;
}

.name{
    font-family: 'EB Garamond', serif;
    font-size: 10vw;
    color: #fffdfa;
}

.startWrapper{
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.arrow {
    cursor: pointer;
}

.arrow2 {
    transform: rotate(180deg);
}

.arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid #d67754;
    border-right: 5px solid #d67754;
    transform: rotate(45deg);
    animation: arrowAnimation 3s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}
.arrow span:nth-child(4) {
    animation-delay: -0.6s;
}
.arrow span:nth-child(5) {
    animation-delay: -0.8s;
}
.arrow span:nth-child(6) {
    animation-delay: -1.0s;
}

@keyframes arrowAnimation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.aboutFooter{
    display: flex;
    justify-content: flex-end;
}

.socialImage{
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
}

.socialLink{
    font-size: 2.5vw;
    text-decoration: none;
    margin: 0.5vw;
    background-image: linear-gradient(
        to right,
        #00000F,
        #00000F 50%,
        #7D7D7D 50%
    );
    background-size: 200% 100%;
    background-position: -100%;

    display: inline-block;
    padding: 5px 0;
    position: relative;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.socialLink:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

.socialLink:link{
    color: #00000F
}

.socialLink:visited{
    color: #7D7D7D;
}

.socialLink:hover{
    background-position: 0;
    color: #7D7D7D;
}

.socialLink:hover::before{
    width: 100%;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingTitle{
    color: #fffdfa;
}

.bottomContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.tileHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.gameTile{
    font-family: 'Nunito Sans', sans-serif;
    margin: 1vw;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.gameTileImage{
    border-radius: 52px;
}

.gameTileInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 52px;
}

.gameTile:hover .gameTileInner{
    transform: rotateY(180deg);
}

.gameTileFront, .gameTileBack{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 52px;
}

.gameTileFront{
  background-color: #bbb;
  color: black;
}

.gameTileBack{
  background-color: #7D7D7D;
  color: white;
  transform: rotateY(180deg);
}

.gameTileHeading{
    font-size: 2.5vw;
    line-height: 2.5vw;
    padding: 1vh;
}

.gameTileDesc{
    padding: 1vh;
}

/* animations */

.slideLeft{
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: 1600ms;
    animation-name: slideLeft;
    display: inline-block;
}

.slideRight{
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: 1600ms;
    animation-name: slideRight;
    display: inline-block;
}

.slideUpLeft{
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: 1600ms;
    animation-name: slideUpLeft;
    display: inline-block;
}

.slideUpRight{
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: 1600ms;
    animation-name: slideUpRight;
    display: inline-block;
}

@keyframes slideLeft {
    0%{
        visibility: visible;
        transform: translate3d(100px, 0px, 0px);
    }

    100%{
        visibility: visible;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slideRight {
    0%{
        visibility: visible;
        transform: translate3d(-100px, 0px, 0px);
    }

    100%{
        visibility: visible;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slideUpLeft {
    0%{
        visibility: visible;
        transform: translate3d(100px, 100px, 0px);
    }

    100%{
        visibility: visible;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slideUpRight {
    0%{
        visibility: visible;
        transform: translate3d(-100px, 100px, 0px);
    }

    100%{
        visibility: visible;
        transform: translate3d(0px, 0px, 0px);
    }
}